$primary-blue: #1976d2;
$dark-blue: #000066;


body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    color: black;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    transform: translateZ(-1);
}

.background-container {
  position: fixed;
  top: 0;
  left: 1%;
  right: 1%;
  bottom: 0;
  background-image: url(/saturn-view.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 25%;
  z-index: 0;
  opacity: 0.125;
  pointer-events: none;
}

.dark-mode {
  filter: invert(1);
}

.display-options {
  position: fixed;
  top: 0.25em;
  right: 1%;
  z-index: 100;
  button {
    color: $dark-blue;
    transform: scale(1.25);
  }
}



.page-wrapper {
  text-align: center;
  padding: 1em;
  margin: 0 auto;
  max-width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
  > header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    background-color: white;
    h1.compact {
      font-size: 1.25rem;
      margin: 0.25em auto;
      padding: 0 5%;
      text-align: center;
      transform: scaleX(1.66667);
      color: $dark-blue;
      letter-spacing: 0.125em;
      user-select: none;
    }
  }
  main {
    display: grid;
    padding: 9rem 2.5% 1rem 2.5%;
    min-height: calc(100vh - 12rem);
    ul {
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0;
    }

    .status-row {
      flex-flow: row wrap;
      justify-content: center;
      > h4 {
        margin: 0.125rem 2rem 0.125rem 0;
      }
    }
  }
  pre {
    width: 90%;
    max-width: 100vw;
    white-space: wrap;
  }
}

main {
  table {
    width: 100%;
    thead {
      th {
        font-size: 0.8em;
      }
    }
    td {
      text-align: left;
      padding: 0.25em 0.5em;
      &.numeric {
        text-align: right;
      }
    }

    &.sidereal-mode {
      .lng {
        font-style: italic;
      }
    }
    tfoot tr {
      margin: 1em auto 0.5em auto;
      th, td {
        text-align: left;
      }
    }
    margin-bottom: 2.5em;
  }
  .results-pane {
    margin: 2.5rem auto 2rem auto;
  }
}

.page-wrapper > header,
.status-row,
.top-controls {
  z-index: 20;
}

main > .control-panel {
  position: fixed;
  top: 2rem;
  left: 0;
  right: 0;
  justify-content: center;
  .actions {
    margin-left: 2rem;
  }
  z-index: 20;
  background-color: white;
}

.tooltip-container:hover {
  cursor: pointer;
  color: $primary-blue;
  [aria-hidden] {
    font-style: normal;
    max-width: 10em;
    white-space: normal;
  }
}

dl {
  .degree {
    > div {
      max-width: 6em;
      white-space: nowrap;
      text-align: right;
    }
  }
}

.top-controls {
  border: none;
  z-index: 24;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  select,
  option,
  input {
    font-size: 1rem;
  }
  .sidereal-toggle {
    margin-right: 0.75em;
    align-items: center;
  }
}
p {
  margin: 1rem auto;
  line-height: 1.35;
}

dl {
  dd {
    margin-inline-start: 0;
  }
}

.grid,
.grid-cols,
.grid-2 {
  display: grid;
  column-gap: 0.5em;
}

.flex.column,
.flex-column {
  display: flex;
  flex-flow: column nowrap;
}

.grid-2 {
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5em;
}

main dl.grid-2 {
  grid-template-columns: 1fr 3fr;
  column-gap: 0.5em;
  dt {
    font-weight: normal;
    font-style: italic;
    font-size: 0.8em;
    text-align: right;
  }
  dd {
    text-align: left;
    padding: 0;
  }
  &.variant-set {
    max-width: 16em;
    grid-template-columns: 1fr 1fr;
    dt {
      font-weight: normal;
      font-size: 0.75em;
      font-style: italic;
    }
    dd {
      &.degree {
        text-align: right;
      }
    }
  }
}

.tz-offset-control {
  display: flex;
  flex-flow: row nowrap;
  input {
    text-align: right;
    min-width: 2.5em;
    max-width: 3em;
  }
}

.top-info {
  .flex-grid {
    grid-template-columns: auto 10em;
    @media (min-width: 64rem) {
      grid-template-columns: auto 10em auto 10em;
    }

    @media (min-width: 90rem) {
      grid-template-columns: auto 10em auto 10em auto 10em;
    }
  }
  dl.grid-2 {
    dt, dd {
      white-space: nowrap;
    }
  }
  dl {
    dd {
      font-size: 0.8rem;
    }
  }
}

.flex-grid {
  grid-template-columns: 3fr 2fr;
  @media (min-width: 40rem) {
    grid-template-columns: auto 10em auto 10em;
  }
  @media (min-width: 60rem) {
    grid-template-columns: auto 10em auto 10em auto 10em;
  }
  column-gap: 0.5em;
  dt {
    text-align: right;
    font-style: italic;
    font-size: 0.75em;
    white-space: nowrap;
  }
  dd {
    padding-left: 0;
    padding-right: 3em;
    text-align: left;
    white-space: nowrap;
    &.degree {
      text-align: right;
    }
  }
}

main {
  .extra-data-row {
    .variant-set {
      min-width: 20em;
    }
  }
  aside.status-info {
    position: fixed;
    top: 3rem;
    right: 1%;
    z-index: 31;
    div {
      > em,
      > span {
        display: inline-block;
        margin-right: 0.5em;
      }
      > em:last-child,
      > span:last-child {
        margin-right: 0;
      }
    }
  }

  .aya-mode {
    .value,
    .degree {
      font-style: italic;
    }
  }
}

.top-info {
  > dl {
    margin-right: 5%;
    &:last-child {
      margin-right: 0;
    }
  } 
}

.top-grid {
  max-width: 70rem;
  margin: 0 auto;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-areas: "datetime datetime actions"
                        "location location actions"
                        "options tabs tabs";
  .date-time-bar {
    grid-area: datetime;
  }
  .location-bar {
    grid-area: location;
    .coordinate {
      input {
        width: 7.5em;
      }
    }
  }
  .tab-selector {
    grid-area: tabs;
    justify-content: flex-end;
  }
  .option-bar {
    grid-area: options;
  }
  .actions {
    grid-area: actions;
  }

  button.submit {
    user-select: none;
    span.material-icons {
      position: relative;
      left: -0.5em;
      transform: scale(1.5);
      pointer-events: none;
    }
  }

}

.place-name-wrapper {
  position: relative;
  max-width: 20em;
  input {
    max-height: 1.25rem;
  }
}

.suggestion-wrapper {
  position: relative;
  overflow: visible;
  z-index: 30;
  .suggestions {
    max-width: 20em;
    z-index: 31;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: left;
    li {
      width: 100%;
    }
  }
}



.space-parts,
.slash-parts {
  > span,
  > em,
  > strong,
  > time {
    display: inline-block;
    margin-right: 0.25em;
    
    &::after {
      display: inline-block;
      position: relative;
      font-size: 0.8em;
      margin-left: 0.25em;
      bottom: 0.1em;
    }
    &:last-child {
      margin-right: 0;
      &::after {
        margin-left: 0;
        content: "";
      }
    }
  }
}
.space-parts {
  > span::after,
  > em::after,
  > strong::after,
  > time::after {
    content: " ";
  }
}
.slash-parts {
  > span::after,
  > em::after,
  > strong::after,
  > time::after {
    content: "/";
  }
}

.plain {
  list-style-type: none;
  li {
    margin: 0;
  }
}

.suggestions {
  background-color: white;
  border: solid 1px #cccccc;
  max-height: 12em;
  overflow-y: auto;
  li {
    cursor: pointer;
    &:hover {
      background-color: rgba(102,102,102, 0.125);
    }
  }
}